<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Profile별 로깅 설정 -->
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        
        <logger name="com.ryuqq.aws" level="DEBUG"/>
        <logger name="software.amazon.awssdk" level="WARN"/>
    </springProfile>
    
    <springProfile name="staging,prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <version/>
                    <logLevel/>
                    <loggerName/>
                    <mdc/>
                    <arguments/>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>
        
        <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="STDOUT"/>
            <queueSize>512</queueSize>
            <discardingThreshold>0</discardingThreshold>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="ASYNC_STDOUT"/>
        </root>
        
        <logger name="com.ryuqq.aws" level="INFO"/>
        <logger name="software.amazon.awssdk" level="WARN"/>
        <logger name="org.springframework" level="WARN"/>
    </springProfile>
</configuration>